# config
SYSTEM_TEMPLATE=template

DEV_DB_HOST=localhost
DEV_DB_NAME=template_ver3
DEV_DB_USER=root
DEV_DB_PASS=

DB_HOST=localhost
DB_NAME=gdlinode_templatever1
DB_USER=gdlinode_templatever1
DB_PASS=S6LZ864X*Llc7@VE

# Google Places API
GOOGLE_PLACES_API_KEY=AIzaSyDa-y4sG3au5oJzQYwMAdEzRLuFKpN0Rd0
API_TOKEN=7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d