//==================================================
// 網站用色設定
//==================================================
$web_header_1: #000; //主選單 主色系
$web_header_2: #000; //主選單 次色系

$web_footer_1: #000000; //頁尾版權 主色系
$web_footer_2: #7a7a7a; //頁尾版權 次色系

$web_color_1: #601986; //網站 主色系
$web_color_2: #393993; //網站 次色系
$web_color_3: #fff; //網站 次色系

$web_title_1: #e6e6e6; //標題 主色系
$web_title_2: #000; //標題 次色系

$web_title_1: #601986;
$web_subtitle_1: #1f1f1f; //副標題 主色系
$web_desc_1: #393939; //敘述文字 主色系

$web_loading_1: #ffffff; //loading 主色系
$web_loading_2: #ffffff; //loading 次色系

$web_font_color: #1f1f1f; //一般文字 色系
$web_font_color_2: #434343; //一般文字 色系

$gdpr_color: #000; //gdpr 色系


//==================================================
// 網站字體設定＆可用字體列表
//==================================================
$web_font: 'Noto Sans TC', sans-serif; //全站 主字體

$title_font_en: 'Open Sans', sans-serif; //標題 主字體
$title_font_cht: 'Noto Sans TC', sans-serif; //標題 副字體